@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root {
  --font-sans: "Inter", sans-serif;
}

body {
  font-family: var(--font-sans);
  background-color: #f3f4f6; /* Light gray background */
}

/* Hide scrollbars for all browsers */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
